/*Configurações gerais*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #8B786D;
}

.container{
    margin: 0px;
}

/*Configurações de menu*/

header{
    height: 120px;
    background-color: #8B786D;
    padding: 0vw 5vw;
    border-bottom: 1px rgb(104, 104, 104) solid;
}

header a{
    font-size: 18px;
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

/*Configurações do main*/

#maquiagem{
    background-color: #B2ABF2;
    height: 100%;
}

#maquiagem .texto h1, h2{
    padding: 12px;
    text-align: center;
}

#maquiagem p{
    text-align: center;
}

#maquiagem .texto{
    width: 100vw;
    text-indent: 10px;
    font-size: 17px;
}

/*Configurações do rodapé*/

footer{
    background-color: black;
    height: 100%;
}

footer h1{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 16px;
    color: #B2ABF2;
}

footer p{
    text-align: center;
    margin: 0px;
    color: #B2ABF2;
}

footer .social{
    padding: 30px;
}

/* Configurações de media screen para telas menores de 768px de largura*/

@media (max-width:768px) {
    .divisor{
        display: none;
    }

    #navbarNav{
        height: 179px;
        text-align: center;
        width: 100%;
    }

    header a{
        padding-left: 30px;
    }

    header button{
        margin-right: 30px;
    }

    ul li{
        border-bottom: 1px black solid;
        width: 100%;
    }

    .borda{
        border-top: 1px black solid;
        margin-top: 10px;
    }

    .navbar{
        padding-left: 0px;
        padding-right: 0px;
    }

    header{
        padding-left: 0px;
        padding-right: 0px;
    }

    .contato{
        margin-right: 5px;
    }
}
