*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #8B786D;
}

header{
    height: 120px;
    background-color: #8B786D;
    padding: 0vw 5vw;
    border-bottom: 1px rgb(104, 104, 104) solid;
}

header a{
    font-size: 18px;
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

#maquiagem{
    background-color: #B2ABF2;
    height: 100%;
}

#maquiagem .texto h1, h2{
    padding: 12px;
    text-align: center;
}

#maquiagem p{
    text-align: center;
}

#maquiagem .texto{
    width: 100vw;
    text-indent: 10px;
    font-size: 17px;
}

.container{
    margin: 0px;
}

footer{
    background-color: black;
    height: 100%;
}

footer h1{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 16px;
    color: #B2ABF2;
}

footer p{
    text-align: center;
    margin: 0px;
    color: #B2ABF2;
}

footer .social{
    padding: 30px;
}
